<div [formGroup]="formulario" class="form-group" [ngClass]="formulario.addErrorGroup(nomeControle)">
    <label [for]="nomeControle" *ngIf="descricao">{{descricao}}</label>
    <select [formControlName]="nomeControle" class="form-control capitalize" (change)="onChange()">
        <option [ngValue]="null">
            {{colecao && colecao.length > 0 ? opcaoSelecioneDoCombo : 'Carregando...'}}
        </option>
        <option class="capitalize" *ngFor="let c of colecao" [ngValue]="c.id">{{c.descricao}}</option>
    </select>
    <error-messages [control]="formulario.controls[nomeControle]"></error-messages>
</div>